<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xsi:schemaLocation="
 http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans.xsd">

 <bean id="student" class="com.institute.Skill_4.Student">

  <constructor-arg value="101"/>
  <constructor-arg value="Vikas"/>
  <constructor-arg value="FullStack"/>
  <constructor-arg value="3"/>

 </bean>

</beans>